<h1>Editing Data File</h1>

<div class="admin-edit">
  <%= link_to 'Show', @data_file %> |
  <%= link_to 'Back', data_files_path %>
</div>

<% if admin_user? %>
  <%= render 'form', data_file: @data_file %>
<% end %>