<div class="quick-links">
  <h2 class="facets-heading">Quick Links</h2>

  <ul>
    <li>Princeton Library <a href="https://catalog.princeton.edu/">Catalog</a></li>
    <li><a href="https://libguides.princeton.edu/citingdata">Citing Data</a></li>
    <li><a href="https://library.princeton.edu/resource/4899">Data-Planet</a> Statistical Datasets</li>
    <li><a href="https://library.princeton.edu/collections/pumagic">GIS</a>: Princeton Digital Map and GIS Center</li>
    <li><a href="http://www.icpsr.umich.edu/">ICPSR</a>: Inter-university Consortium for Political and Social Research</li>
    <li><a href="https://library.princeton.edu/resource/3878">iPOLL</a> databank (Roper)</li>
    <li><a href="https://library.princeton.edu/resource/4085">Sociometrics</a> Social Science Electronic Data Library</li>
    <li><a href="http://www.ipums.org/">IPUMS</a>: Integrated Public Use Microdata Series</li>
    <li><a href="http://wrds.wharton.upenn.edu/">WRDS</a>: Wharton Research Data Service</li>
  </ul>
</div>
