<div class="right-sidebar panel-default">

  <h2 class="facets-heading">DSS Computing Resources</h2>
  <h3 class="panel-title">Hardware</h3>

  <ul>
    <li>13 PCs w/Windows 7 and 28" monitors</li>
    <li>1 Scanner (click here for instructions on how to use. Must bring USB to extract scanned files)</li>
    <li>Printer</li>
  </ul>

  <h3 class="panel-title">Statistics software</h3>

  <ul>
    <li>Stata 9-14 (32/64 bit) (also available in all OIT clusters)</li>
    <li>SPSS 18 (PASW), click here for more info</li>
    <li>SAS</li>
    <li>R, RStudio</li>
    <li>MATLAB</li>
    <li>Python 2.7/3.6 (Anaconda suite)</li>
  </ul>

  <h3 class="panel-title">Conversion software</h3>

  <ul>
    <li>Stat/Transfer (click here for instructions on how to use)</li>
  </ul>

  <h3 class="panel-title">Compression software</h3>

  <ul>
    <li>7-Zip (freeware)</li>
  </ul>

  <h3 class="panel-title">From PDF to Excel/Word</h3>

  <ul>
    <li>OmniPage 18 (OCR text recognition, only in the computer attached to the scanner. Must bring USB to extract files). Click here for instructions on how to use.</li>
  </ul>

</div>
