<div class="right-sidebar panel-default">

      <ul class="menu--secondary panel-default">
        <li><a href="https://dss.princeton.edu/training" class="panel-heading">Getting Started in Data Analysis</a></li>
        <li><%= link_to 'Subject specialists', page_path('specialists'), class: 'panel-heading' %></li>
        <li><%= link_to 'Consultants', page_path('consultants'), class: 'panel-heading' %></li>
        <li><%= link_to 'Computing Resources', page_path('computing'), class: 'panel-heading' %></li>
      </ul>

      <div class="container">
        <div class="schedule">
          <h3><%= link_to 'DSS lab consultation schedule', page_path('dsslab') %></h3>
          <div class="font-small">(Monday-Friday)</div>

          <table>
            <tbody>
              <tr class="schedule--current">
                <td>Sep 1-Nov 1</td>
                <td><a href="https://dss.princeton.edu/contacts/appts.html">By appt. here</a></td>
              </tr>
              <tr>
                <td>Nov 4-Dec 13</td>
                <td><a href="https://dss.princeton.edu/dsslab/">Walk-in, 2-5pm*</a></td>
              </tr>
              <tr>
                <td>Dec 16-Jan 31</td>
                <td><a href="https://dss.princeton.edu/dsslab/">Walk-in/appt</a></td>
              </tr>
              <tr>
                <td>Feb 3-May 1</td>
                <td><a href="https://dss.princeton.edu/dsslab/">Walk-in, 1-5pm*</a></td>
              </tr>
              <tr>
                <td>May 4-Aug 31</td>
                <td><a href="https://dss.princeton.edu/contacts/appts.html">By appt. here</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="note">
        <p>For quick questions email <a href="mailto:data@princeton.edu">data@princeton.edu</a>.</p>
        <p>*No appts. necessary during walk-in hrs.</p>
        <p>Note: the DSS lab is open as long as Firestone is open, no appointments necessary to use the lab computers for your own analysis.</p>
      </div>
    </div>
