<div class="right-sidebar panel-default">

      <ul class="menu--secondary panel-default">
        <li><a href="https://dss.princeton.edu/training" class="panel-heading">Getting Started in Data Analysis</a></li>
        <li><%= link_to 'Subject specialists', page_path('specialists'), class: 'panel-heading' %></li>
        <li><%= link_to 'Consultants', page_path('consultants'), class: 'panel-heading' %></li>
        <li><%= link_to 'Computing Resources', page_path('computing'), class: 'panel-heading' %></li>
      </ul>

      <div class="container">
        <div class="schedule">
          <h2>Need help with analysis or methodology?</h2>
          <a href="https://libcal.princeton.edu/appointments?lid=387&g=8848" target="_blank" class="button">Make an Appointment</a>
        </div>
      </div>

      <div class="note">
        <p>For quick questions email <a href="mailto:data@princeton.edu">data@princeton.edu</a>.</p>
      </div>
    </div>
