<div id="sidebar" class="lside--catalog">
  <%= render 'shared/quick-links' %>
</div>

<div id="content" class="content--catalog">
  <div class="middle-content static">
    <h1>Consultants</h1>

    <p>The following is a list of statistical consultants who can help you in downloading, formatting, reshaping, or analyzing data when you come to the <a href="/dsslab/">DSS lab</a>.  If you have specific questions, you may send emails to <a href="mailto:data@princeton.edu">data@princeton.edu</a></p>

    <p>If you need assistance in identifying and locating data,  contact a <a href="/specialists">subject specialist</a>.</p>

    <h1>Full time consultants</h1>

    <table cellpadding="1" cellspacing="1" border="0">
      <tbody>
        <tr bgcolor="#E3E3E3">
          <td colspan="2"><h4><a href="http://www.princeton.edu/~otorres/">Oscar Torres-Reyna</a></h4></td>
        </tr>
        <tr>
          <td bgcolor="#F2F2F2">Email:</td>
          <td><a href="mailto:otorres@princeton.edu">otorres@princeton.edu</a></td>
        </tr>
        <tr>
          <td bgcolor="#F2F2F2">Office:</td>
          <td>Firestone Library, A12.F1</td>
        </tr>
        <tr>
          <td bgcolor="#F2F2F2">Expertise:</td>
          <td>
            <ul>
              <li>Research methodology </li>
              <li> Quantitative analysis </li>
              <li>Political science/Politics </li>
              <li>Public opinion </li>
              <li>Public policy</li>
              <li>Economics</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td bgcolor="#F2F2F2">Background:</td>
          <td>Bringing over twenty five years of work/research experience in public, private and academic sectors, Oscar has a BA in economics from the School of Economics/UNAM (Mexico) and a diploma in applied statistics from ITAM (Mexico). With a strong focus on quantitative analysis, he also has a masters in public administration, and an MPhil. and PhD in political science from Columbia University. Joined DSS May 2007.</td>
        </tr>
        <tr>
          <td bgcolor="#F2F2F2">Languages:</td>
          <td>Spanish, English</td>
        </tr>
      </tbody>
    </table>

  </div>

  <%= render 'shared/right-sidebar' %>
</div>
