<div class="container--catalog">
  <div id="sidebar" class="lside--catalog">
    <%= render 'shared/quick-links' %>
  </div>

  <div id="content" class="content--catalog">
    <div class="middle-content static">
      <h1>Consultants</h1>

      <p>The following is a list of statistical consultants who can help you in downloading, formatting, reshaping, or
        analyzing data when you come to the <a href="/dsslab/">DSS lab</a>. If you have specific questions, you may
        send emails to <a href="mailto:data@princeton.edu">data@princeton.edu</a></p>

      <p>If you need assistance in identifying and locating data, contact a <a href="/specialists">subject specialist</a>.</p>

      <h2>Full time consultants</h2>

      <table cellpadding="1" cellspacing="1" border="0">
        <tbody>
          <tr bgcolor="#E3E3E3">
            <td colspan="2">
              <h4><a href="http://www.princeton.edu/~otorres/">Oscar Torres-Reyna</a></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Email:</td>
            <td><a href="mailto:otorres@princeton.edu">otorres@princeton.edu</a></td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td>Firestone Library, A12.F1</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Expertise:</td>
            <td>
              <ul>
                <li>Research methodology </li>
                <li> Quantitative analysis </li>
                <li>Political science/Politics </li>
                <li>Public opinion </li>
                <li>Public policy</li>
                <li>Economics</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Background:</td>
            <td>Bringing over twenty five years of work/research experience in public, private and academic sectors,
              Oscar has a BA in economics from the School of Economics/UNAM (Mexico) and a diploma in applied
              statistics from ITAM (Mexico). With a strong focus on quantitative analysis, he also has a masters in
              public administration, and an MPhil. and PhD in political science from Columbia University. Joined DSS
              May 2007.</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Languages:</td>
            <td>Spanish, English</td>
          </tr>
        </tbody>
      </table>

      <h2>Graduate student consultants</h2>

      <table cellpadding="1" cellspacing="1" border="0">
        <tbody>
          <tr bgcolor="#E3E3E3">
            <td colspan="2">
              <h4><i>Lukas Althoff</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td>Firestone Library, DSS lab, A-12-G</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Expertise:</td>
            <td>
              <ul>
                <li>International Finance</li>
                <li>Trade</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Software:</td>
            <td>
              <ul>
                <li>R</li>
                <li>Stata</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Background:</td>
            <td>Lukas is a PhD candidate in the Economics Department. Prior to this, he obtained an BSc in Economics
              (University of Munich), a BSc in
              Computer Science and Finance (TU Munich), and an MSc in Econometrics and Mathematical Economics (London
              School of Economics). He is interested in spatial economics, trade, and questions
              relating to social mobility.</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Languages:</td>
            <td>English, German, Spanish</td>
          </tr>

          <tr bgcolor="#E3E3E3">
            <td colspan="2">
              <h4><i>Michael Kistner</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td>Firestone Library, DSS lab, A-12-G</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Expertise:</td>
            <td>
              <ul>
                <li>Legislative Politics</li>
                <li>State Politics</li>
                <li>Campaign Finance</li>
                <li>Applied Bayesian Statistics</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Software:</td>
            <td>
              <ul>
                <li>R</li>
                <li>Python</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Background:</td>
            <td>Michael is a PhD candidate in the Politics Department and part of the Joint Degree Program in Social
              Policy here at Princeton. His
              research focuses on better understanding the linkages between money in politics, polarization of
              politicians, and power in legislatures, as well as developing improved econometric modeling
              tools for modeling latent district partisanship and interparty competition in the states. Prior to
              beginning his PhD, he obtained a BA in political science at Illinois Wesleyan University. </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Languages:</td>
            <td>English</td>
          </tr>

          <tr bgcolor="#E3E3E3">
            <td colspan="2">
              <h4><i>Naijia Liu</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td>Firestone Library, DSS lab, A-12-G</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Expertise:</td>
            <td>
              <ul>
                <li>Applied Statistics</li>
                <li>Text Analysis</li>
                <li>Political Science</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Software:</td>
            <td>
              <ul>
                <li>R</li>
                <li>Stata</li>
                <li>Cluster Computing</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Background:</td>
            <td>Naijia is a PhD candidate in the department of politics. She is interested in political methodology.
              Previously, she earned a BA in political
              science from University of Michigan, Ann Arbor; and a MA in quantitative methods in social science from
              Columbia University</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Languages:</td>
            <td>English, Chinese</td>
          </tr>

          <tr bgcolor="#E3E3E3">
            <td colspan="2">
              <h4><i>Don Noh</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td>Firestone Library, DSS lab, A-12-G</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Expertise:</td>
            <td>
              <ul>
                <li>Finance</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Software:</td>
            <td>
              <ul>
                <li>R</li>
                <li>Stata</li>
                <li>Matlab</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Background:</td>
            <td>Don is a PhD candidate in Economics Department at Princeton. His research interests are in asset
              pricing and the impact of
              passive investing in particular. He was at the University of Pennsylvania for his undergraduate degrees
              in finance and computer science before coming to Princeton</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Languages:</td>
            <td>Korean, English</td>
          </tr>

          <tr bgcolor="#E3E3E3">
            <td colspan="2">
              <h4><i>Shumiao Ouyang</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td>Firestone Library, DSS lab, A-12-G</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Expertise:</td>
            <td>
              <ul>
                <li>Corporate Finance</li>
                <li>Asset Pricing</li>
                <li>Venture Capital</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Software:</td>
            <td>
              <ul>
                <li>R</li>
                <li>Stata</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Background:</td>
            <td>Shumiao is a graduate student in the Department of Economics at Princeton.Prior to PhD, he worked as a
              research fellow in finance at the Kellogg School of Management, Northwestern University. He has a BS in
              life sciences and a BA in economics from Tsinghua
              University. He obtained an MA in finance from the Guanghua School of Management, Peking University.
              Shumiao is interested in empirical research related to
              corporate finance, macro-finance and innovation.
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Languages:</td>
            <td>English, Chinese</td>
          </tr>

          <tr bgcolor="#E3E3E3">
            <td colspan="2">
              <h4><i>In Young Park</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td>Firestone Library, DSS lab, A-12-G</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Expertise:</td>
            <td>
              <ul>
                <li>Political Economy</li>
                <li>International Relations</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Software:</td>
            <td>
              <ul>
                <li>R</li>
                <li>Stata</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Background:</td>
            <td>In Young is a PhD candidate in the Politics Department at Princeton. In Young uses game-theoretic and
              econometric tools to model and test under
              what circumstances incomplete contracts are effectively enforced under uncertainty at individual, group,
              and nation-state levels. Prior to PhD, she obtained an MA in East Asian Regional Studies
              at Harvard on the Harvard-Yenching Fellowship, and received her BA in International Studies from Ewha
              Women's University, South Korea.</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Languages:</td>
            <td>English, Korean, Japanese, Chinese</td>
          </tr>

          <tr bgcolor="#E3E3E3">
            <td colspan="2">
              <h4><i>Jose Maria Rodriguez Valadez</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td>Firestone Library, DSS lab, A-12-G</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Expertise:</td>
            <td>
              <ul>
                <li>Comparative Politics</li>
                <li>Redistributive Politics</li>
                <li>Political Economy of Development</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Software:</td>
            <td>
              <ul>
                <li>R</li>
                <li>Stata</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Background:</td>
            <td>Jose Maria is a PhD candidate in the Politics Department and part of the Joint Degree Program in Social
              Policy at the
              Woodrow Wilson School. His broad research covers topics on politics of redistribution, social policy and
              spatial inequalities. Prior to Princeton, Jose Maria
              obtained a BA in Economics from ITAM, in Mexico City.</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Languages:</td>
            <td>English, Spanish</td>
          </tr>

          <tr bgcolor="#E3E3E3">
            <td colspan="2">
              <h4><i>Leah Rosenstiel</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td>Firestone Library, DSS lab, A-12-G</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Expertise:</td>
            <td>
              <ul>
                <li>American Political Institutions</li>
                <li>Legislative Politics</li>
                <li>Public Policy</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Software:</td>
            <td>
              <ul>
                <li>R</li>
                <li>Stata</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Background:</td>
            <td>Leah is a Ph.D. Candidate in the Politics Department and part of the Joint Degree Program in Social
              Policy at the Woodrow Wilson
              School. Her research examines American political institutions, with a focus on Congress. Leah received a
              B.A. in Political Science from Carleton College in 2014. Prior to beginning her
              graduate studies she worked as a research assistant on K-12 education policy at the Congressional
              Research Service.</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Languages:</td>
            <td>English</td>
          </tr>
        </tbody>
      </table>

    </div>

    <%= render 'shared/right-sidebar' %>
  </div>
</div>
