<div class="container--catalog">
  <div id="sidebar" class="lside--catalog">
    <%= render 'shared/quick-links' %>
  </div>

  <div id="content" class="content--catalog">
    <div class="middle-content static">
      <h1>Subject specialists</h1>

      <p>
        The following librarians can help you in <b>identifying</b> and
        <b>locating</b> data. To make an appointment, email appropriate contact
        person below with a detailed description of data you are looking for and
        available times to meet. If you already have located a data file and
        need assistance in using the data, come to the
        <a href="/dsslab">DSS computer lab</a> during staffed hours.
      </p>

      <table cellpadding="1" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td colspan="4">
              <h4><i>Economics and Finance</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Name:</td>
            <td>Bobray Bordelon</td>
            <td>Bobbi Coffey</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Position:</td>
            <td>Economics, Finance, &amp; Data Librarian</td>
            <td>Finance Librarian</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Email:</td>
            <td>
              <a href="mailto:bordelon@princeton.edu">bordelon@princeton.edu</a>
            </td>
            <td>
              <a href="mailto:bcoffey@princeton.edu">bcoffey@princeton.edu</a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td>Firestone, A-Floor RIS Suite</td>
            <td>Firestone, A-Floor RIS Suite</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Phone:</td>
            <td>609-258-3211</td>
            <td>609-258-3531</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Link:</td>
            <td colspan="3">
              <a href="http://library.princeton.edu/econlib/services"
                >"Who does what"</a
              >
            </td>
          </tr>
          <tr></tr>
          <tr>
            <td colspan="4">
              <h4><i>Politics</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Name:</td>
            <td colspan="3">Jeremy Darrington</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Email:</td>
            <td colspan="3">
              <a href="mailto:jdarring@princeton.edu">jdarring@princeton.edu</a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td colspan="3">Firestone, A-Floor RIS Suite</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Phone:</td>
            <td colspan="3">609-258-3209</td>
          </tr>
          <tr>
            <td colspan="4">
              <h4><i>Public Policy (WWS)</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Name:</td>
            <td colspan="3">Stokes Library</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Email:</td>
            <td colspan="3">
              <a href="mailto:piaprlib@princeton.edu">piaprlib@princeton.edu</a>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <h4><i>Population Research</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Name:</td>
            <td>Joann Donatiello</td>
            <td colspan="2">Elana Broch</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Email:</td>
            <td>
              <a href="mailto:jdonatie@princeton.edu">jdonatie@princeton.edu</a>
            </td>
            <td colspan="2">
              <a href="mailto:ebroch@princeton.edu">ebroch@princeton.edu</a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td>Stokes Library</td>
            <td colspan="2">Stokes Library</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Phone:</td>
            <td>609-258-1377</td>
            <td colspan="2">609-258-5517</td>
          </tr>
          <tr>
            <td colspan="4">
              <h4><i>Sociology</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Name:</td>
            <td colspan="3">Ofira Schwartz-Soicher</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Email:</td>
            <td colspan="3">
              <a
                href="mailto:oschwart@princeton.edu
  "
                >oschwart@princeton.edu
              </a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td colspan="3">063 Wallace Hall</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Phone:</td>
            <td colspan="3">609-258-6053</td>
          </tr>
          <tr>
            <td colspan="4">
              <h4>
                  <i>Astrophysics, Mathematics, Physics, Plasma Physics</i>
                </h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Name:</td>
            <td colspan="3">Anya C. Bartelmann</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Email:</td>
            <td colspan="3">
              <a href="mailto:abartelm@princeton.edu">abartelm@princeton.edu</a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td colspan="3">210 Lewis Library</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Phone:</td>
            <td colspan="3">609-258-3150</td>
          </tr>
          <tr>
            <td colspan="4">
              <h4><i>Behavioral Sciences</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Name:</td>
            <td colspan="3">Meghan Testerman</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Email:</td>
            <td colspan="3">
              <a href="mailto:mtesterman@princeton.edu"
                >mtesterman@princeton.edu</a
              >
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td colspan="3">226 Lewis Library</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Phone:</td>
            <td colspan="3">609-258-6173</td>
          </tr>
          <tr>
            <td colspan="4">
              <h4><i>Biological and Life Sciences</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Name:</td>
            <td colspan="3">Kelee Pacion</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Email:</td>
            <td colspan="3">
              <a href="mailto:kpacion@princeton.edu">kpacion@princeton.edu</a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td colspan="3">111 Lewis Library</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Phone:</td>
            <td colspan="3">609-258-8601</td>
          </tr>
          <tr>
            <td colspan="4">
              <h4>
                  <i>Chemistry, Environmental Studies, Geosciences</i>
                </h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Name:</td>
            <td colspan="3">Emily Wild</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Email:</td>
            <td colspan="3">
              <a href="mailto:ewild@princeton.edu">ewild@princeton.edu</a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Office:</td>
            <td colspan="3">212 Lewis Library</td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Phone:</td>
            <td colspan="3">609-258-5484</td>
          </tr>
          <tr>
            <td colspan="4">
              <h4><i>Questions?</i></h4>
            </td>
          </tr>
          <tr>
            <td bgcolor="#F2F2F2">Email:</td>
            <td colspan="3">
              <a href="mailto:data@princeton.edu">data@princeton.edu</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <%= render 'shared/right-sidebar' %>
  </div>
</div>
