<%= render 'shared/restricted_message' %>

<div>
  <ul class="menu--grid">
    <li><a href="catalog?utf8=✓&search_field=all_fields&q=">Data</a></li>
    <li><a href="http://dss.princeton.edu/contacts/datacontacts.html">Subject specialists</a></li>
    </li>
    <li><a href="http://dss.princeton.edu/online_help/">Software</a>
    </li>
    <li><a href="http://dss.princeton.edu/training">Getting Started</a></li>
    <li><a href="http://dss.princeton.edu/contacts/consultants.html">Consultants</a></li>
    <li><a href="http://libguides.princeton.edu/citingdata">Citing data</a></li>
    <li><a href="http://dss.princeton.edu/about.html">About Us</a></li>
  </ul>
</div>

<div class="container">
  <div class="secondary-links contain--half">
  <h3 class='section-heading'>Find Data and Statistics by other Major Providers:</h3>

    <ul>
      <li>Princeton Library <a href="http://pulsearch.princeton.edu">Catalog</a></li>
      <li><a href="http://library.princeton.edu/resource/4899">Data-Planet</a> Statistical Datasets</li>
      <li><a href="http://library.princeton.edu/collections/pumagic">GIS</a>: Princeton Digital Map and GIS Center</li>
      <li><a href="http://www.icpsr.umich.edu">ICPSR</a>: Inter-university Consortium for Political and Social Research</li>
      <li><a href="http://library.princeton.edu/resource/3878">iPOLL</a> databank (Roper)</li>
      <li><a href="http://library.princeton.edu/resource/4085">Sociometrics</a> Social Science Electronic Data Library</li><li><a href="http://www.ipums.org/">IPUMS</a>: Integrated Public Use Microdata Series</li>
      <li><a href="http://wrds.wharton.upenn.edu">WRDS</a>: Wharton Research Data Service</li>
    </ul>
  </div>

  <div class="schedule contain--half">
    <h3><a href="http://dss.princeton.edu/dsslab">DSS lab consultation schedule</a></h3>
    <div class="font-small">(Monday-Friday)</div>

    <table>
      <tbody>
        <tr>
          <td>Sep 1-Nov 3</td>
          <td><a href="http://dss.princeton.edu/contacts/appts.html">By appt. here</a></td>
        </tr>
        <tr>
          <td>Nov 6-Dec 15</td>
          <td><a href="http://dss.princeton.edu/dsslab/">Walk-in, 2-5pm*</a></td>
        </tr>
        <tr>
          <td>Dec 18-Feb 2</td>
          <td><a href="http://dss.princeton.edu/contacts/appts.html">By appt. here</a></td>
        </tr>
        <tr>
          <td>Feb 5-May 4</td>
          <td><a href="http://dss.princeton.edu/dsslab/">Walk-in, 1-5pm*</a></td>
        </tr>
        <tr>
          <td>May 7-May 15</td>
          <td><a href="http://dss.princeton.edu/dsslab/">Walk-in, 2-5pm*</a></td>
        </tr>
        <tr>
          <td>May 16-Aug 31</td>
          <td><a href="http://dss.princeton.edu/contacts/appts.html">By appt. here</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="note">
  <p>For quick questions email data@princeton.edu.</p>
  <p>*No appts. necessary during walk-in hrs.</p>
  <p>Note: the DSS lab is open as long as Firestone is open, no appointments necessary to use the lab computers for your own analysis.</p>
</div>

<div class="social">
  <a href="http://www.twitter.com/DssData"><img src="http://twitter-badges.s3.amazonaws.com/t_mini-a.png" alt="Follow DssData on Twitter"></a>
  <a href="http://www.facebook.com/pages/DSS/214968338545309"><img src="http://dss.princeton.edu/images/facebook3.jpg" alt="See DSS on Facebook"></a>
</div>
