<div class="page-header row">
  <h2 class="col-md-8 page-heading"><%= t('blacklight.welcome') %></h2>

  <p>ACCESS TO THESE DATA FILES IS RESTRICTED TO CURRENTLY ENROLLED/EMPLOYED MEMBERS OF PRINCETON UNIVERSITY</p>

</div>

<div id="getting-started">
<h3 class='section-heading'>Find Data and Statistics by other Major Providers:</h3>

  <ul>
    <li>Princeton Library <a href="http://pulsearch.princeton.edu">Catalog</a></li>
    <li><a href="http://library.princeton.edu/resource/4899">Data-Planet</a> Statistical Datasets</li>
    <li><a href="http://library.princeton.edu/collections/pumagic">GIS</a>: Princeton Digital Map and GIS Center</li>
    <li><a href="http://www.icpsr.umich.edu">ICPSR</a>: Inter-university Consortium for Political and Social Research</li>
    <li><a href="http://library.princeton.edu/resource/3878">iPOLL</a> databank (Roper)</li>
    <li><a href="http://library.princeton.edu/resource/4085">Sociometrics</a> Social Science Electronic Data Library</li><li><a href="http://www.ipums.org/">IPUMS</a>: Integrated Public Use Microdata Series</li>
    <li><a href="http://wrds.wharton.upenn.edu">WRDS</a>: Wharton Research Data Service</li>
  </ul>
</div>
