<div class="middle-content">
  <div class="interior-photo">
    <%= image_tag "dss_inner.jpg", alt: "Students working on computers in the Data and Statistical Services Lab" %>
  </div>
  <%= render 'shared/restricted_message' %>

  <div>
    <p>Data and Statistical Services (DSS) provides data and statistical consulting.  The service is located in Firestone Library.</p>
    <p>Experts are available to advise Princeton University student, faculty, and staff on choosing appropriate data, application of quantitative research methods, the interpretation of statistical analyses, data conversion, and data visualization.  Subject specialists help choose appropriate data.  The statistical packages supported by consultants are R/R Studio, Stata, and SPSS.   We provide statistical and software assistance in quantitative analysis of electronic data as part of independent research projects, such as junior papers, senior theses, term papers, dissertations, and scholarly articles.*</p>
    <p>* Please note:  Students are welcome to use our online tutorials and computing services.  DSS consultants, however, do not provide assistance with homework assignments, problem sets, or take-home exams.</p>
  </div>
</div>

<%= render 'shared/right-sidebar' %>
