<% if admin_user? %>
  <%= link_to 'Edit this Resource', "/resources/#{resource_id(@document.id)}/edit", class: 'btn pull-right heading__inline' %>
<% end %>
<div id="content" class="content--show">
  <%= render_document_main_content_partial %>
</div>

<div id="sidebar" class="sidebar--show">
   <%= render_document_sidebar_partial %>
</div>
