<% if admin_user? %>
  <%= link_to 'Edit this Resource', "/resources/#{resource_id(@document.id)}/edit", class: 'btn pull-right heading__inline' %>
<% end %>
<div id="content" class="content--show">
  <%= render 'show_main_content' %>
</div>

<% content_for(:sidebar) do %>
  <% presenter = document_presenter(@document) %>
  <%= render presenter.view_config.sidebar_component.new(presenter: presenter) %>
<% end %>
