<h1>Editing Subject</h1>


<div class="admin-edit">
  <%= link_to 'Show', @subject, style:"text-decoration: underline" %> |
  <%= link_to 'Back', subjects_path, style:"text-decoration: underline" %> |
  <p> Last update: <%= @last_update %> </p>
</div>

<%= render 'form', subject: @subject %>
