<%= link_to 'Edit this Subject', edit_subject_path(@subject), class: 'btn pull-right heading__inline' %>
<%= link_to 'Back to Subjects', subjects_path, class: 'btn pull-left heading__inline' %>

<h1 class="heading__block"><%= @subject.name %></h1>

<dl>
  <dt>Key term</dt>
  <dd><%= @subject.key_term_id %></dd>
</dl>
