<h1>Editing Country</h1>

<div class="admin-edit">
  <%= link_to 'Show', @country %> |
  <%= link_to 'Back', countries_path %>
</div>

<div> 
  <h4> Last update: <%= @last_update.updated_at %> </h4>
</div>

<%= render 'form', country: @country %>
