<%= link_to 'Edit this Country', edit_country_path(@country), class: 'btn pull-right heading__inline' %>
<%= link_to 'Back to Countries', countries_path, class: 'btn pull-left heading__inline' %>

<h1 class="heading__block"><%= @country.name %></h1>

<dl>
  <dt>Key term</dt>
  <dd><%= @country.key_term_id %></dd>
</dl>
