/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require select2
 *= require dataTables/extras/dataTables.responsive
 *= require pul-assets
 *= require_self
 *= require_tree .
 */

 $logo_image: 'dss-logo.svg' !default;

 @import "pul-assets__blacklight";

.navbar-brand {
  width:  140px;
  height: 55px;
}

.schedule .schedule--current {
	background: $yellow-light;
}

@media (min-width: 768px) {
  main {
    padding: 0;
  }

  .lside--catalog {
    width: 23.52941%;
    float: left;
    margin-right: 1.96078%;
    margin-left: 0;
  }

  #content {
   padding: 0;
  }

  .content--catalog {
    width: 74%;
  }

  .content--catalog .middle-content {
    width: 64.01961%;
    float: left;
    margin-right: 1.96078%;

    .menu--grid > li:first-child {
      width: 37%;
    }

    .menu--grid > li {
      width: 28%;
    }

    .interior-photo {
      margin: 1em 0;
    }
  }

  .content--catalog .right-sidebar {
    width: 31.72941%;
    float: right;
    margin-right: 0;

    h2, h3 {
      display: block;
    }

    ul {
      margin: 1rem 0 1rem 1.75rem;
    }

    li {
      list-style: initial;
    }
  }

  .quick-links li {
    margin-bottom: 0.6rem;
  }

}
