<%= link_to 'Edit this Region', edit_region_path(@region), class: 'btn pull-right heading__inline' %>
<%= link_to 'Back to Regions', regions_path, class: 'btn pull-left heading__inline' %>

<h1 class="heading__block"><%= @region.name %></h1>

<dl>
  <dt>Key term</dt>
  <dd><%= @region.key_term_id %></dd>
</dl>
